.fourth {
    padding: 130px 0px;

    p {
        &:first-child {
            font-size: 25px;
            font-weight: 700;
            line-height: 65px;
            color: white;
            margin-bottom: 10px;
        }
        &:nth-of-type(2) {
            font-size: 50px;
            font-weight: 700;
            line-height: 53px;
            max-width: 527px;
        }
        &:nth-of-type(3) {
            font-size: 20px;
            line-height: 32px;
            max-width: 524px;
            color: black;
            margin: 50px 0px 60px 0px;
        }
    }

}

.sponzors {
    gap: 82px;
    
    a {
        display: flex;
        align-items: flex-end;
    }
}

.sponzor {

    p {
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .fourth p:first-child {
        font-size: 20px;
    }
    .fourth p:nth-of-type(2) {
        font-size: 35px;
    }
    .fourth p:nth-of-type(3) {
        font-size: 15px;
        max-width: 400px;
    }

    .sponzor p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 850px) {

    .fourth {
        padding: 90px 0px;
    
        p {
            &:first-child {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 15px;
            }
            &:nth-of-type(2) {
                font-size: 35px;
                line-height: 39px;
                max-width: 233px;
            }
            &:nth-of-type(3) {
                font-size: 13px;
                line-height: 20px;
                max-width: 300px;
                margin: 27px 0px 40px 0px;
            }
        }
    
    }
    
    .sponzors {
        gap: 40px;
        flex-direction: column;
    }
    
    .sponzor {
        p {
            font-size: 15px;
            line-height: 20px;
            margin-top: 17px;
        }
    }


}